*{
    /* background-color:rgb(250, 250, 250) */
}


/*cartSCreen  */
.cartHeader{
    color:  rgb(56, 51, 51);
  }
  .cartItems{
    
    margin: auto;
  }
  .cartItem-Text{
    font-size: 18px;
    font-weight: 500;
  }
  .btn-success, .btn-danger{
    border-radius: 5px;
  }
  .qty{
    font-weight: 600;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: honeydew;
    padding: 5px 15px;
    border-radius: 10px; 
    box-shadow:inset 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  }
  .cartTotal{
    margin-bottom: 10px;
    
  }
  .cartTotal-row{
    margin-bottom: 10px;
  }
  
  .priceText{
    font-size: 18px;
    font-weight: 500;
  }
  


 .paymentsummarys{
   
     background-color:white;
     height: 300px;
    
 }
 .paysum-row{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    
 }